[Unit]
Description=Gitea-Action-1

[Container]
ContainerName=gitea-runner-1
Image=docker.io/gitea/act_runner:latest
Environment=CONFIG_FILE=/config.yaml
EnvironmentFile=/home/garnet/development/gitea-action/env
Volume=/home/garnet/development/gitea-action/runner-1/data:/data
Volume=/home/garnet/development/gitea-action/runner-1/config.yaml:/config.yaml
Volume=/home/garnet/development/gitea-action/runner-1/cache:/root/.cache
Volume=/var/run/docker.sock:/var/run/docker.sock

[Service]
Restart=always

[Install]
WantedBy=default.target



