[Unit]
Description=Caddy

[Container]
ContainerName=caddy
Image=docker.io/library/caddy:2.9.1
PublishPort=1880:80
PublishPort=1443:443
Volume=/home/<user>/homelab/infra/caddy/containers/caddy/config:/etc/caddy:ro
Volume=/home/<user>/homelab/infra/caddy/containers/caddy/sites:/srv:ro
Volume=/home/<user>/homelab/infra/caddy/containers/caddy/data:/data
Volume=/home/<user>/homelab/infra/caddy/containers/caddy/logs:/var/log/caddy

[Service]
Restart=always

[Install]
WantedBy=default.target
