[Unit]
Description=Gitea

[Container]
ContainerName=gitea
Environment=USER_UID=1000 
Environment=USER_GID=1000 
Environment=USER=git
Image=docker.gitea.com/gitea:latest
Network=gitea.network
PublishPort=3000:3000
PublishPort=2222:22
Volume=/home/garnet/development/gitea:/data
# Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always

[Install]
WantedBy=default.target

---

[Network]
NetworkName=gitea

---

[Volume]
VolumeName=gitea
