[Unit]
Description=Promethus 

[Container]
ContainerName=prometheus
Image=docker.io/prom/prometheus:latest
PublishPort=127.0.0.1:9090:9090
Network=caddy_nets
Volume=/home/user/containers/monitoring/prometheus:/etc/prometheus
Volume=prometheus-data:/prometheus
Exec=--config.file=/etc/prometheus/prometheus.yaml

[Service]
Restart=always

[Install]
WantedBy=default.target


